body{
	background-image: url(http://cf.ltkcdn.net/web-design/images/orig/170200-200x200-pink-bg.gif);
	background-size: 

} 

p {
	font-size: 55px ;
	font-family: Serif;
	color: #FFFFFF

}
.smileyface{
	background-image: url(http://zoes4thgradewebsite.yolasite.com/resources/pink_glitter_smiley_face.gif);
}
.my2{
	background-image: url(http://i.imgur.com/fBV6qa4.jpg);
	background-size: 
	 
}
.letter{
	background-image: url(http://i.imgur.com/v3MLh95.png);
	background-size: 1990px;
}
.nav a{
	font-size: 25px;
	font-style: ;
	color: 
}

h1 {
font-size: 60px;
font-family: fantasy;
color: #FA58D0;

}